/* FORM GRID */

#scholarform{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
#scholarform form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 12px;
}

/* NAME ROW FORCE INLINE */
.name-row {
    grid-column: 1 / -1;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 12px;
}

/* EACH FIELD INSIDE NAME ROW */
.name-row > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* INPUTS ALWAYS FULL WIDTH */
#scholarform input,
#scholarform select {
    width: 100%;
}

/* LABEL FIX */
#scholarform label {
    font-size: 12px;
    margin-bottom: 3px;
}